<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861140395081-hbd5f8qccl9vjscbl2qn3c9ojht90rod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861140395081-hbd5f8qccl9vjscbl2qn3c9ojht90rod</string>
	<key>API_KEY</key>
	<string>AIzaSyDcbLycJxK19g4JutgPPvLVIkUOkV9nZhE</string>
	<key>GCM_SENDER_ID</key>
	<string>861140395081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>utcs.WhatTheSport</string>
	<key>PROJECT_ID</key>
	<string>whatthesport-59d4a</string>
	<key>STORAGE_BUCKET</key>
	<string>whatthesport-59d4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861140395081:ios:ccd93232be836b3ba94b98</string>
</dict>
</plist>